<ion-header>
  <ion-navbar>
    <ion-title>{{ municipi.municipi_nom }}</ion-title>
    <ion-buttons end>      
      <button ion-button icon-only (click)="removeFavorite()" *ngIf="favorite == true">
        <ion-icon name="star"></ion-icon>
      </button>
      <button ion-button icon-only (click)="addFavorite()" *ngIf="favorite != true">
        <ion-icon name="star-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content fullscreen>

  <ion-card>

    <ion-item>
      <ion-thumbnail item-left>
        <img class="thumbnail" src="{{ municipi.municipi_escut }}">
      </ion-thumbnail>
      <p>
        {{ 'MUNICIPI-DETAIL.REGION' | translate }}: {{ municipi.grup_comarca.comarca_nom }}<br>
        {{ 'MUNICIPI-DETAIL.PROVINCE' | translate }}: {{ municipi.grup_provincia.provincia_nom }}<br>
        {{ 'MUNICIPI-DETAIL.INE' | translate }}: {{ municipi.ine }}<br>
        {{ 'MUNICIPI-DETAIL.CIF' | translate }}: {{ municipi.grup_ajuntament.cif }} <br>
      </p>
    </ion-item>
    
    <img src="{{ municipi.municipi_vista }}" />

    <ion-card-content>
      <h2>{{ 'MUNICIPI-DETAIL.ADDRESS' | translate }}</h2>
      <p *ngIf="municipi.grup_ajuntament.adreca">{{ municipi.grup_ajuntament.adreca }}, {{ municipi.grup_ajuntament.codi_postal }}</p>
      <p *ngIf="municipi.grup_ajuntament.url_general">
        <button ion-button icon-left clear small (click)="openLink(municipi.grup_ajuntament.url_general)"
          class="button-padding-left">
          <ion-icon name="open"></ion-icon>
          <div class="button-text-transform">{{municipi.grup_ajuntament.url_general}}</div>
        </button>
      </p>
      <p *ngIf="municipi.grup_ajuntament.email">
        <button ion-button icon-left clear small (click)="openMail(municipi.grup_ajuntament.email)"
          class="button-padding-left">
          <ion-icon name="at"></ion-icon>
          <div class="button-text-transform">{{municipi.grup_ajuntament.email}}</div>
        </button>
      </p>
      <p *ngIf="municipi.grup_ajuntament.telefon_contacte">
        <button ion-button icon-left clear small (click)="openTel(municipi.grup_ajuntament.telefon_contacte)"
          class="button-padding-left">
          <ion-icon name="call"></ion-icon>
          <div class="button-text-transform">{{municipi.grup_ajuntament.telefon_contacte}}</div>
        </button>
      </p>
      <p *ngIf="municipi.grup_ajuntament.localitzacio">
        <button ion-button icon-left clear small (click)="openMap()"
          class="button-padding-left">
          <ion-icon name="navigate"></ion-icon>
          <div class="button-text-transform"> {{ municipi.grup_ajuntament.localitzacio }}</div>
        </button>
      </p>
    </ion-card-content>

    <ion-row>
      <ion-col>
        <button ion-button icon-left clear small (click)="goToPois()">
          <ion-icon name="pin"></ion-icon>
          <div>{{ 'APP.TITLE_POIS' | translate }}</div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-left clear small (click)="goToActivities()">
          <ion-icon name="calendar"></ion-icon>
          <div>{{ 'APP.TITLE_ACTIVITIES' | translate }}</div>
        </button>
      </ion-col>
    </ion-row>

  </ion-card>

</ion-content>

<ion-fab bottom right #fab>
  <button ion-fab><ion-icon name="share"></ion-icon></button>
  <ion-fab-list side="left">
    <button ion-fab color="twitter" (click)="share('Twitter', fab)"><ion-icon name="logo-twitter"></ion-icon></button>
    <button ion-fab color="facebook" (click)="share('Facebook', fab)"><ion-icon name="logo-facebook"></ion-icon></button>
    <button ion-fab color="whatsapp" (click)="share('Whatsapp', fab)"><ion-icon name="logo-whatsapp"></ion-icon></button>
    <button ion-fab color="primary" (click)="share('Mail', fab)"><ion-icon name="mail"></ion-icon></button>
  </ion-fab-list>
</ion-fab>


