$categories: (
 actesparcs: color($colors, primary),
 actesmuseus: #8E8D93,
 escenari: #FE4C52,
 actesbiblioteques_ca: #FD8B2D,
 actesturisme_ca: #FED035
);

@function auxiliary-categories() {
  @return map-remove($categories);
}

page-pois-list {
  @each $track, $value in auxiliary-categories() {
   ion-item[dataset=#{$track}] ion-label {
     border-left: 2px solid $value;
     padding-left: 10px;
   }
  }
}