<ion-header>

  <ion-navbar color="primary">
    <ion-title>Punts d'interès</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <button ion-button medium block light>Llista</button>
      </ion-col>
      <ion-col>
        <button ion-button medium block light>Mapa</button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-item *ngIf="ine != undefined">
    <ion-label>Municipi:</ion-label>
    <ion-select>
      <div *ngFor="let municipi of doProvider.municipisInfo">
        <ion-option *ngIf="municipi.ine == ine" selected="true">{{ municipi.municipi_nom }}</ion-option>
        <ion-option *ngIf="municipi.ine != ine">{{ municipi.municipi_nom }}</ion-option>
      </div>
    </ion-select>
  </ion-item>
  <ion-item *ngIf="ine != undefined">
    <ion-label>Tema:</ion-label>
    <ion-select>
      <div *ngFor="let tema of doProvider.temes">
        <ion-option *ngIf="tema == temaActual" selected="true">{{ tema }}</ion-option>
        <ion-option *ngIf="tema != temaActual">{{ tema }}</ion-option>
      </div>
    </ion-select>
  </ion-item>

</ion-content>
