<ion-header>
  <ion-navbar>
    <ion-title>{{ municipi.municipi_nom }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item text-wrap class="no-padding">
    <ion-thumbnail item-left>
      <img class="thumbnail" src="{{ municipi.municipi_escut }}">
    </ion-thumbnail>
    <div>
      {{ 'INE' | translate }}: {{ municipi.ine }} <br>
      {{ 'CIE' | translate }}: {{ municipi.cif }} <br>
      {{ 'PROVINCE' | translate }}: {{ municipi.provincia_nom }} <br>
      {{ 'REGION' | translate }}: {{ municipi.comarca_nom }}
    </div>
    <ion-icon *ngIf="favourite == true" (click)="toggleFavourite()" clear  color="primary" item-right   name="star" class="fav"></ion-icon>
    <ion-icon *ngIf="favourite != true" (click)="toggleFavourite()" clear color="primary" item-right   name="star-outline" class="fav"></ion-icon>
  </ion-item>
  <ion-grid>
    <ion-row>
      <ion-col>
        <button ion-button medium block light (click)="goToPois()">{{ 'TITLE_POIS' | translate }}</button>
      </ion-col>
      <ion-col>
        <button ion-button medium block light (click)="goToActivities()">{{ 'TITLE_ACTIVITIES' | translate }}</button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-item text-wrap class="item-text-wrap">
    <h2>{{ 'CONTACT' | translate }}</h2>
    <p ng-if="municipi.adreca"><b>{{ 'ADDRESS' | translate }}:</b> {{ municipi.adreca }}</p>
    <p ng-if="municipi.email"><b>{{ 'EMAIL' | translate }}:</b> {{ municipi.email }}</p>
    <p ng-if="municipi.telefon_contacte"><b>{{ 'TELEPHONE' | translate }}:</b> <a href="tel: {{ municipi.telefon_contacte }}">{{ municipi.telefon_contacte }}</a></p>
    <p ng-if="municipi.fax"><b>{{ 'FAX' | translate }}:</b> {{ municipi.fax }}</p>
    <p ng-if="municipi.localitzacio"><b>{{ 'COORDS' | translate }}:</b> {{ municipi.localitzacio }}</p>
  </ion-item>
  <br>
  <ion-row>
    <ion-col width-50>
      <img src="{{ municipi.municipi_vista }}">
    </ion-col>
    <ion-col width-50>
      <img item-left src="{{ municipi.municipi_bandera }}">
    </ion-col>
  </ion-row>
</ion-content>
