.reset-filters {
  color: color($colors, primary);
}

$categories: (
 biblioteques:#FED035,
 espaisescenics: #FD8B2D,
 museus: #FE4C52,
 puntesports: #8E8D93,
 parcsequipaments_ca:  color($colors, primary)
);

@function auxiliary-categories() {
  @return map-remove($categories);
}

page-pois-filter {
  @each $track, $value in auxiliary-categories() {
   ion-item[dataset=#{$track}] ion-label {
     border-left: 2px solid $value;
     padding-left: 10px;
   }
  }
}
