<ion-header>
	<ion-navbar no-border-bottom>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>{{ 'APP.TITLE_MUNICIPIS' | translate }}</ion-title>
		<ion-segment [(ngModel)]="segment" (ionChange)="updateSchedule()">
      <ion-segment-button value="all">
        {{ 'MUNICIPIS.ALL' | translate }}
      </ion-segment-button>
      <ion-segment-button value="favorites">
        {{ 'MUNICIPIS.FAVOURITES' | translate }}
      </ion-segment-button>
    </ion-segment>
	</ion-navbar>
	<ion-toolbar no-border-top>
    <ion-searchbar color="primary"
									 [(ngModel)]="queryText"                 
                   (ionInput)="updateSchedule()"
                   placeholder="{{ 'MUNICIPIS.PLACEHOLDER_SEARCH' | translate }}">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="{{ 'MUNICIPIS.PULL_TO_REFRESH' | translate }}"
      refreshingSpinner="circles"
      refreshingText="{{ 'MUNICIPIS.REFRESHING' | translate }}">
    </ion-refresher-content>
  </ion-refresher>

	<ion-list #scheduleList [hidden]="shownData === 0">
		<ion-item-sliding *ngFor="let municipi of data" #slidingItem [hidden]="municipi.hide">
			
			<button ion-item (click)="goToMunicipiDetail(municipi)">
				<ion-thumbnail item-left>
					<img src="{{ municipi.municipi_escut }}">
				</ion-thumbnail>
				<h3>{{ municipi.municipi_nom }}</h3>
				<p>{{ municipi.grup_comarca.comarca_nom }}</p>
				<ion-icon name="more" item-right></ion-icon>
      </button>
			
			<ion-item-options>
				<button ion-button color="favorite" (click)="addFavorite(slidingItem, municipi)" *ngIf="segment === 'all'">
					{{ 'MUNICIPIS.FAVORITE' | translate }}
				</button>
				<button ion-button color="danger" (click)="removeFavorite(slidingItem, municipi, true )" *ngIf="segment === 'favorites'">
					{{ 'MUNICIPIS.REMOVE' | translate }}
				</button>
      </ion-item-options>
		</ion-item-sliding>

	</ion-list>

	<ion-list-header [hidden]="shownData > 0">
      {{ 'MUNICIPIS.NO_TOWN_FOUND' | translate }}
  </ion-list-header>
	
</ion-content>	