<ion-header>
	<ion-navbar no-border-bottom>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<!--<ion-title>{{ 'TITLE_MUNCIPIS' | translate }}</ion-title>-->
		<ion-segment [(ngModel)]="segment" (ionChange)="updateSchedule()">
      <ion-segment-button value="all">
        {{ 'ALL' | translate }}
      </ion-segment-button>
      <ion-segment-button value="favorites">
        {{ 'FAVOURITES' | translate }}
      </ion-segment-button>
    </ion-segment>
	</ion-navbar>
	<ion-toolbar no-border-top>
    <ion-searchbar color="primary"                  
                   (ionInput)="searchMunicipis($event)"
                   placeholder="{{ 'PLACEHOLDER_SEARCH_MUNICIPIS' | translate }}">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>

	<ion-list>
		<ion-item-sliding *ngFor="let municipi of openData.municipisInfo | 
										municipisFilter: { numElements: pageSize, filter: appliedFilter }" #slidingItem>
			
			<button ion-item (click)="goToMunicipiDetail(municipi.ine)">
				<ion-avatar item-left>
					<img src="{{ municipi.municipi_escut }}">
				</ion-avatar>
				<h3>{{ municipi.municipi_nom }}</h3>
				<p>{{ municipi.comarca_nom }}</p>
      </button>
			
			<ion-item-options>
				<button ion-button color="favorite" (click)="addFavorite(slidingItem, municipi)" *ngIf="segment === 'all'">
					{{ 'FAVOURITE' | translate }}
				</button>
				<button ion-button color="danger" (click)="removeFavorite(slidingItem, municipi, 'Remove Favorite')" *ngIf="segment === 'favorites'">
					{{ 'REMOVE' | translate }}
				</button>
      </ion-item-options>
		</ion-item-sliding>

	</ion-list>

	<ion-infinite-scroll (ionInfinite)="doInfinite($event)">
		<ion-infinite-scroll-content></ion-infinite-scroll-content>
	</ion-infinite-scroll>
	
</ion-content>	