<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title class="bar">
			Diba+Municipis
		</ion-title>
	</ion-navbar>
	<ion-searchbar
	placeholder="Nom del municipi o comarca..."
	[showCancelButton]="true"
	cancelButtonText="X"
	(ionInput)="searchMunicipis($event)">
	</ion-searchbar>
</ion-header>

<ion-content>
	<ion-list>
		<ion-item text-wrap class="item-avatar" *ngFor="let municipi of openData.municipisInfo |
		municipisFilter: { numElements: pageSize, filter: appliedFilter } | favouritesFilter">
			<ion-thumbnail item-left (click)="goToMunicipiDetail(municipi.ine)">
				<img src="{{municipi.municipi_escut}}">
			</ion-thumbnail>
			<div (click)="goToMunicipiDetail(municipi.ine)">
				{{municipi.municipi_nom}} <br>
				{{municipi.comarca_nom}}
			</div>
			<ion-icon  clear  color="primary" item-right (click)="toggleFavourite(municipi.ine)" *ngIf="municipi.favourite == true" name="star" class="fav"></ion-icon>
			<ion-icon  clear color="primary" item-right (click)="toggleFavourite(municipi.ine)" *ngIf="municipi.favourite != true" name="star-outline" class="fav"></ion-icon>
		</ion-item>
	</ion-list>

	<ion-infinite-scroll (ionInfinite)="doInfinite($event)">
		<ion-infinite-scroll-content></ion-infinite-scroll-content>
	</ion-infinite-scroll>
</ion-content>	