<ion-header>
  <ion-navbar>
    <ion-title>{{'APP.TITLE_ACTIVITY' | translate}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content fullscreen>
  <ion-card>

    <ion-item text-wrap>      
      <h1>{{ activity.titol }}</h1>
      <p>{{ activity.data_inici }}</p>
      <p>{{ activity.data_fi }}</p>
      <p *ngIf="activity.rel_municipis">{{ activity.rel_municipis.municipi_nom }}</p>
      <p>{{ activity.rel_temes.tema_nom }}</p>
    </ion-item>
    
    <img *ngIf="activity.imatge.length > 0" src="{{ activity.imatge['0'] }}" />
    
    <ion-card-content>
      <h2><b>{{'ACTIVITIES.INFORMATION' | translate}}</b></h2>
      <div [innerHTML]="activity.descripcio">
      </div>
      <p *ngIf="activity.organitzadors"><b>{{'ACTIVITIES.OBSERVATIONS' | translate }}:</b></p>
      
      <div *ngIf="activity.organitzadors" [innerHTML]="activity.observacions">
      </div>
      <p *ngIf="activity.observacions_horari"><b>{{'ACTIVITIES.SCHEDULE_OBSERVATIONS' | translate }}:</b> {{activity.observacions_horari}}</p>
      <p *ngIf="activity.organitzadors"><b>{{'ACTIVITIES.ORGANIZERS' | translate }}:</b> {{activity.organitzadors}}</p>
      <p *ngIf="activity.preu"><b>{{'ACTIVITIES.PRICE' | translate }}:</b> {{activity.preu}}</p>
      <p *ngIf="activity.durada"><b>{{'ACTIVITIES.DURATION' | translate }}:</b> {{activity.durada}}</p>
      <p *ngIf="activity.dies"><b>{{'ACTIVITIES.DAYS' | translate }}:</b> {{activity.dies}}</p>
      <p *ngIf="activity.aforament"><b>{{'ACTIVITIES.CAPACITY' | translate }}:</b> {{activity.aforament}}</p>

      <p *ngIf="activity.public && activity.public.length"><b>{{'ACTIVITIES.PUBLIC' | translate }}:</b> {{arrayToString(activity.public)}}</p>
      <p *ngIf="activity.tipus && activity.tipus.length"><b>{{'ACTIVITIES.CLASSIFICATION' | translate }}:</b> {{arrayToString(activity.tipus)}}</p>
      <p *ngIf="activity.acte_url">
        <button ion-button icon-left clear small (click)="openLink(activity.acte_url)">
          <ion-icon name="information-circle"></ion-icon>
          <div><b>{{ 'ACTIVITIES.MORE_INFORMATION' | translate }}</b></div>
        </button>
      </p>

      <h2><b>{{ 'ACTIVITIES.CONTACT' | translate }}</b></h2>
      <p *ngIf="activity.grup_adreca.adreca_nom">{{ activity.grup_adreca.adreca_nom }}</p>
      <p *ngIf="activity.grup_adreca.adreca">{{ activity.grup_adreca.adreca }}</p>
      <p *ngIf="activity.grup_adreca.codi_postal">{{ activity.grup_adreca.codi_postal }}</p>
      <p *ngIf="activity.grup_adreca.municipi_nom">{{ activity.grup_adreca.municipi_nom }}</p>
      <p *ngIf="activity.url_general">
        <button ion-button icon-left clear small (click)="openLink(activity.url_general)">
          <ion-icon name="open"></ion-icon>
          <div class="button-text-transform">{{activity.url_general}}</div>
        </button>
      </p>
      <p *ngIf="activity.email[0]">
        <button ion-button icon-left clear small (click)="openMail(activity.email[0])">
          <ion-icon name="at"></ion-icon>
          <div class="button-text-transform">{{activity.email[0]}}</div>
        </button>
      </p>
      <p *ngIf="activity.telefon_contacte[0]">
        <button ion-button icon-left clear small (click)="openTel(activity.telefon_contacte[0])">
          <ion-icon name="call"></ion-icon>
          <div>{{activity.telefon_contacte[0]}}</div>
        </button>
      </p>
      <p *ngIf="activity.grup_adreca.localitzacio">
        <button ion-button icon-left clear small (click)="openMap()">
          <ion-icon name="navigate"></ion-icon>
          <div> {{ activity.grup_adreca.localitzacio }}</div>
        </button>
      </p>
    </ion-card-content>

  </ion-card>

</ion-content>

<ion-fab middle right #fab>
  <button ion-fab><ion-icon name="share"></ion-icon></button>
  <ion-fab-list side="left">
    <button ion-fab color="twitter" (click)="share('Twitter', fab)"><ion-icon name="logo-twitter"></ion-icon></button>
    <button ion-fab color="facebook" (click)="share('Facebook', fab)"><ion-icon name="logo-facebook"></ion-icon></button>
    <button ion-fab color="whatsapp" (click)="share('Whatsapp', fab)"><ion-icon name="logo-whatsapp"></ion-icon></button>
    <button ion-fab color="primary" (click)="share('Mail', fab)"><ion-icon name="mail"></ion-icon></button>
  </ion-fab-list>
</ion-fab>