<!--
  Generated template for the ActivitiesFilter page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-toolbar>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">{{ 'ACTIVITIES.CANCEL' | translate }}</button>
    </ion-buttons>

    <ion-title>
      {{ 'APP.TITLE_FILTER' | translate }}
    </ion-title>

    <ion-buttons end>
      <button ion-button (click)="applyFilters()" strong>{{ 'ACTIVITIES.DONE' | translate }}</button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>


<ion-content padding>

  <ion-item>
    <ion-label>{{ 'MUNICIPI-DETAIL.TOWN' | translate }}:</ion-label>
    <ion-select>
      <div *ngFor="let municipi of municipis">
        <ion-option *ngIf="municipi.ine == selectedIne" selected="true">{{ municipi.nom }}</ion-option>
        <ion-option *ngIf="municipi.ine != selectedIne">{{ municipi.nom }}</ion-option>
      </div>
    </ion-select>
  </ion-item>

</ion-content>
