<ion-header>

  <ion-toolbar>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">{{ 'APP.CANCEL' | translate }}</button>
    </ion-buttons>

    <ion-title>
      {{ 'APP.TITLE_FILTER' | translate }}
    </ion-title>

    <ion-buttons end>
      <button ion-button (click)="applyFilters()" strong>{{ 'APP.DONE' | translate }}</button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>


<ion-content padding>

  <ion-item>
    <ion-label>{{ 'APP.TOWN' | translate }}:</ion-label>
    <ion-select [(ngModel)]="selectedIne"
          cancelText="{{'APP.CANCEL' | translate}}"
          okText="{{'APP.OK' | translate}}">
      <div *ngFor="let municipi of municipis">
        <ion-option selected="municipi.ine == selectedIne" value="{{municipi.ine}}">{{ municipi.nom }}</ion-option>        
      </div>
    </ion-select>
    <ion-item>    
  </ion-item>
  </ion-item>

  <ion-item>
    <ion-label>{{ 'APP.CATEGORIES' | translate }}:</ion-label>
    <ion-select [(ngModel)]="selectedCat" multiple="true" 
          cancelText="{{'APP.CANCEL' | translate}}"
          okText="{{'APP.OK' | translate}}">
      <div *ngFor="let category of categories">
        <ion-option selected="category.id_tema == selectedCat" value="{{category.id_tema}}">{{ category.tema_nom }}</ion-option>        
      </div>
    </ion-select>
    <ion-item>    
  </ion-item>
  </ion-item>

  <ion-item class="text-label">
    <ion-label primary>{{'ACTIVITIES.INI_DATE' | translate}}</ion-label>
    <ion-datetime displayFormat="DDD/MMMM/YYYY"  min="2014" max="2020-12-31"[(ngModel)]="iniDate"
        monthNames="{{'APP.JANUARY' | translate}},
                    {{'APP.FEBRUARY' | translate}},
                    {{'APP.MARCH' | translate}},
                    {{'APP.APRIL' | translate}},
                    {{'APP.MAY' | translate}},       
                    {{'APP.JUNE' | translate}},
                    {{'APP.JULY' | translate}},
                    {{'APP.AUGUST' | translate}},
                    {{'APP.SEPTEMBER' | translate}},  
                    {{'APP.OCTOBER' | translate}},
                    {{'APP.NOVEMBER' | translate}},        
                    {{'APP.DECEMBER' | translate}}"        
        dayShortNames="{{'APP.SU' | translate}},
                      {{'APP.MO' | translate}},
                      {{'APP.TU' | translate}},
                      {{'APP.WE' | translate}},
                      {{'APP.TH' | translate}},
                      {{'APP.FR' | translate}},
                      {{'APP.SA' | translate}}"
        cancelText="{{'APP.CANCEL' | translate}}" 
        doneText="{{'APP.OK' | translate}}">
    </ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label primary>{{'ACTIVITIES.FI_DATE' | translate}}</ion-label>
      <ion-datetime displayFormat="DDD/MMMM/YYYY"  min="2014" max="2020-12-31"[(ngModel)]="fiDate"
        monthNames="{{'APP.JANUARY' | translate}},
                    {{'APP.FEBRUARY' | translate}},
                    {{'APP.MARCH' | translate}},
                    {{'APP.APRIL' | translate}},
                    {{'APP.MAY' | translate}},       
                    {{'APP.JUNE' | translate}},
                    {{'APP.JULY' | translate}},
                    {{'APP.AUGUST' | translate}},
                    {{'APP.SEPTEMBER' | translate}},  
                    {{'APP.OCTOBER' | translate}},
                    {{'APP.NOVEMBER' | translate}},        
                    {{'APP.DECEMBER' | translate}}"        
        dayShortNames="{{'APP.SU' | translate}},
                      {{'APP.MO' | translate}},
                      {{'APP.TU' | translate}},
                      {{'APP.WE' | translate}},
                      {{'APP.TH' | translate}},
                      {{'APP.FR' | translate}},
                      {{'APP.SA' | translate}}"
        cancelText="{{'APP.CANCEL' | translate}}" 
        doneText="{{'APP.OK' | translate}}">
    </ion-datetime>
  </ion-item>

    <ion-list>
      <ion-list-header>{{'APP.DATASETS' | translate}}</ion-list-header>

      <ion-item *ngFor="let dataset of datasets" [attr.dataset]="dataset.machinename">
        <span item-start class="dot"></span>
        <ion-label>{{dataset.nom}}</ion-label>
        <ion-toggle [(ngModel)]="dataset.isChecked" color="secondary"></ion-toggle>
      </ion-item>

    </ion-list>

    <ion-list>
      <button ion-item (click)="resetFilters()" detail-none class="reset-filters">
        {{'APP.RESET_ALL_FILTERS' | translate}}
      </button>
    </ion-list>

</ion-content>
