<ion-header>
  <ion-navbar>
    <ion-title>{{'APP.TITLE_POI' | translate}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content fullscreen>
  <ion-card>

    <ion-item text-wrap>      
      <h1>{{ poi.adreca_nom }}</h1>
      <p *ngIf="poi.rel_municipis">{{ poi.rel_municipis.municipi_nom }}</p>
      <p>{{ poi.rel_temes.tema_nom }}</p>
    </ion-item>
    
    <img *ngIf="poi.imatge.length > 0" src="{{ poi.imatge['0'] }}" />
    
    <ion-card-content>
      <h2><b>{{'ACTIVITIES.INFORMATION' | translate}}</b></h2>
      <div [innerHTML]="poi.descripcio">
      </div>
      <p *ngIf="poi.horaris">
        <b>{{ 'POIS.SCHEDULE' | translate }}</b>
      </p>
      <div *ngIf="poi.horaris" [innerHTML]="poi.horaris"></div>
      <p *ngIf="poi.director"><b>{{'POIS.DIRECTOR' | translate }}:</b> {{poi.director}}</p>
      <p *ngIf="poi.url_relacionades[0]">
        <button ion-button icon-left clear small (click)="openLink(poi.url_relacionades[0])">
          <ion-icon name="information-circle"></ion-icon>
          <div><b>{{ 'APP.MORE_INFORMATION' | translate }}</b></div>
        </button>
      </p>

      <h2><b>{{ 'APP.CONTACT' | translate }}</b></h2>
      <p *ngIf="poi.grup_adreca.adreca_completa">{{ poi.grup_adreca.adreca_completa }}</p>
      <p *ngIf="poi.url_general">
        <button ion-button icon-left clear small (click)="openLink(poi.url_general)">
          <ion-icon name="open"></ion-icon>
          <div class="button-text-transform">{{poi.url_general}}</div>
        </button>
      </p>
      <p *ngIf="poi.email[0]">
        <button ion-button icon-left clear small (click)="openMail(poi.email[0])">
          <ion-icon name="at"></ion-icon>
          <div class="button-text-transform">{{poi.email[0]}}</div>
        </button>
      </p>
      <p *ngIf="poi.telefon_contacte[0]">
        <button ion-button icon-left clear small (click)="openTel(poi.telefon_contacte[0])">
          <ion-icon name="call"></ion-icon>
          <div class="button-text-transform">{{poi.telefon_contacte[0]}}</div>
        </button>
      </p>
      <p *ngIf="poi.localitzacio">
        <button ion-button icon-left clear small (click)="openMap()">
          <ion-icon name="navigate"></ion-icon>
          <div class="button-text-transform"> {{ poi.localitzacio }}</div>
        </button>
      </p>
    </ion-card-content>

  </ion-card>

</ion-content>

<ion-fab middle right #fab>
  <button ion-fab><ion-icon name="share"></ion-icon></button>
  <ion-fab-list side="left">
    <button ion-fab color="twitter" (click)="share('Twitter', fab)"><ion-icon name="logo-twitter"></ion-icon></button>
    <button ion-fab color="facebook" (click)="share('Facebook', fab)"><ion-icon name="logo-facebook"></ion-icon></button>
    <button ion-fab color="whatsapp" (click)="share('Whatsapp', fab)"><ion-icon name="logo-whatsapp"></ion-icon></button>
    <button ion-fab color="primary" (click)="share('Mail', fab)"><ion-icon name="mail"></ion-icon></button>
  </ion-fab-list>
</ion-fab>